<style type="text/css">
.ritz .waffle .s0{
    background-color:#214762;
}
.ritz .waffle .s1{
    border-bottom:1px SOLID #ffffff;
    background-color:#214762;
    text-align:center;
    font-weight:bold;
    color:#ffffff;
    font-family:'Arial';
    font-size:14pt;
    vertical-align:middle;
}
.ritz .waffle .s2{
    border-bottom:1px SOLID #ffffff;
    border-right:1px SOLID #ffffff;
    background-color:#214762;
    text-align:center;
    font-weight:bold;
    color:#ffffff;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s3{
    border-bottom:1px SOLID #ffffff;
    border-right:1px SOLID #ffffff;
    background-color:#C0C0C0;
    text-align:center;
    font-weight:bold;
    color:#000000;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s4{
    border-right:1px SOLID #ffffff;
    background-color:#67a3bf;
    text-align:center;
    font-weight:bold;
    color:#000000;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s5{
    background-color:#67a3bf;
    text-align:center;
    font-weight:bold;
    color:#000000;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s6{
    border-bottom:1px SOLID #ffffff;
    border-right:1px SOLID #ffffff;
    background-color:#67a3bf;
    text-align:center;
    font-weight:bold;
    color:#000000;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s7{
    border-bottom:1px SOLID #ffffff;
    background-color:#67a3bf;
    text-align:center;
    color:#000000;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s8{
    border-bottom:1px SOLID #ffffff;
    background-color:#C0C0C0;
}
.ritz .waffle .s9{
    border-bottom:1px SOLID #d9d9d9;
    border-left:0.5px SOLID #d9d9d9;
    border-right:0.5px SOLID #d9d9d9;
    background-color:#ffffff;
    text-align:center;
    color:#000000;
    font-family:'Arial';
    font-size:10pt;
    vertical-align:top;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s10{
    border-right:1px SOLID #ffffff;
    background-color:#67a3bf;
    text-align:center;
    font-weight:bold;
    color:#000000;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s11{
    background-color:#67a3bf;
    text-align:center;
    color:#000000;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s12{
    background-color:#C0C0C0;
}
</style>
