<style type="text/css">
h2{
    text-align:center !important;
    color:#0b5394 !important;
}
.ritz .waffle .s0{
    background-color:#ffffff;
}
.ritz .waffle .s1{
    border-bottom:1px SOLID #ffffff;
    background-color:#0b5394;
    text-align:center;
    font-weight:bold;
    color:#ffffff;
    font-family:'Arial';
    font-size:14pt;
    vertical-align:middle;
}
.ritz .waffle .s2{
    border-bottom:1px SOLID #ffffff;
    border-right:1px SOLID #ffffff;
    background-color:#0b5394;
    text-align:center;
    font-weight:bold;
    color:#ffffff;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s3{
    border-bottom:1px SOLID #ffffff;
    border-right:1px SOLID #ffffff;
    background-color:#e6b8af;
    text-align:center;
    font-weight:bold;
    color:#000000;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s4{
    border-right:1px SOLID #ffffff;
    background-color:#9fc5e8;
    text-align:center;
    font-weight:bold;
    color:#000000;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s5{
    background-color:#9fc5e8;
    text-align:center;
    font-weight:bold;
    color:#000000;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s6{
    border-bottom:1px SOLID #ffffff;
    border-right:1px SOLID #ffffff;
    background-color:#3d85c6;
    text-align:left;
    color:#ffffff;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s7{
    border-bottom:1px SOLID #ffffff;
    background-color:#3d85c6;
    text-align:left;
    color:#ffffff;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s8{
    border-bottom:1px SOLID #ffffff;
    background-color:#e6b8af;
}
.ritz .waffle .s9{
    border-bottom:1px SOLID #d9d9d9;
    background-color:#ffffff;
    text-align:left;
    color:#000000;
    font-family:'Arial';
    font-size:10pt;
    vertical-align:top;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s10{
    border-right:1px SOLID #ffffff;
    background-color:#3d85c6;
    text-align:left;
    color:#ffffff;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s11{
    background-color:#3d85c6;
    text-align:left;
    color:#ffffff;
    font-family:'Arial';
    font-size:12pt;
    vertical-align:middle;
    padding:0px 3px 0px 3px;
}
.ritz .waffle .s12{
    background-color:#e6b8af;
}
</style>
